@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #17213b;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline #17213b solid;
  }
}

body {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  body {
    align-items: center;
  }

  #app {
    display: flex;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
